<h3>Overview</h3>
<div class="block-theme-widget container">
    <div class="theme-cards row">
        <div class="col-6 col-lg-4 mb-4">
            <div class="card card-bg-light">
                <img src="https://churchx.ca/draftfile.php/94/user/draft/12957479/LIFT%20%2842%29.png" alt="" role="presentation" class="img-fluid">
                <div class="card-body">
                    <h5 class="card-title">Why Hybrid Worship?</h5>
                    <p class="card-text">A talk from Tay that gives the basic overview of the world of church and social media, looking into some basic theological considerations.</p>

                </div>
                <div class="card-footer">
                    <a href="#section-1" class="btn btn-secondary btn-block rounded">View Module</a>
                </div>
            </div>
            <!--//card-->
        </div>
        <!--//col-->
        <div class="col-6 col-lg-4 mb-4">
            <div class="card card-bg-light">
                <img src="https://churchx.ca/draftfile.php/94/user/draft/12957479/LIFT%20%2847%29.png" alt="" role="presentation" class="img-fluid">
                <div class="card-body">
                    <h5 class="card-title">The Basic Pieces of Hybrid Worship</h5>
                    <p class="card-text">A Hybrid Worship Glossary of important terms and concepts.&nbsp;</p>

                </div>
                <div class="card-footer">
                    <a href="#section-2" class="btn btn-secondary btn-block rounded">View Module</a>
                </div>
            </div>
            <!--//card-->
        </div>
        <!--//col-->
        <div class="col-6 col-lg-4 mb-4">
            <div class="card card-bg-light">
                <img src="https://churchx.ca/draftfile.php/94/user/draft/12957479/LIFT%20%2841%29.png" alt="" role="presentation" class="img-fluid">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <h5>Methods of Providing Hybrid Worship</h5>
                    <p class="card-text">Three case studies that show different set-ups for livestreaming worship.&nbsp;</p>

                </div>
                <div class="card-footer">
                    <a href="#section-3" class="btn btn-secondary btn-block rounded">View Module</a>
                </div>
            </div>
            <!--//card-->
        </div>
        <!--//col-->
        <div class="col-6 col-lg-4 mb-4">
            <div class="card card-bg-light">
                <img src="https://churchx.ca/draftfile.php/94/user/draft/12957479/LIFT%20%2839%29.png" alt="" role="presentation" class="img-fluid">
                <div class="card-body">
                    <h5 class="card-title">Assessing Your Context</h5>
                    <p class="card-text">Three activities that will give you knowledge of the equipment, people, and procedures for you hybrid worship.</p>

                </div>
                <div class="card-footer">
                    <a href="#section-4" class="btn btn-secondary btn-block rounded">View Module</a>
                </div>
            </div>
            <!--//card-->
        </div>
        <!--//col-->
        <div class="col-6 col-lg-4 mb-4">
            <div class="card card-bg-light">
                <img src="https://3rdwavemedia.com/demo-images/slides/maker-module-3.jpg" alt="image">
                <div class="card-body">
                    <h5 class="card-title">Designing for Resiliency</h5>
                    <p class="card-text">A talk from Tay answering how to design a resilient setup, with some extra problem solving strategies you can use.</p>

                </div>
                <div class="card-footer">
                    <a href="#section-5" class="btn btn-secondary btn-block rounded">View Module</a>
                </div>
            </div>
            <!--//card-->
        </div>
        <!--//col-->
        <div class="col-6 col-lg-4 mb-4">
            <div class="card card-bg-light">
                <img src="https://churchx.ca/draftfile.php/94/user/draft/12957479/LIFT%20%2846%29.png" alt="" role="presentation" class="img-fluid">
                <div class="card-body">
                    <h5 class="card-title">Putting it all together</h5>
                    <p class="card-text">Some useful tips that help during the troubleshooting process.</p>

                </div>
                <div class="card-footer">
                    <a href="#section-6" class="btn btn-secondary btn-block rounded">View Module</a>
                </div>
            </div>
            <!--//card-->
        </div>
        <!--//col-->
    </div>
    <!--//block-theme-widget-->
</div>
<h3>Let's Get Started!</h3> 