<div class="block-theme-widget">
    <p class="mb-4">Some things I hope you take away from this example course</p>
    <div class="text-center mb-3">
        <ul class="column-list list-unstyled mx-auto d-inline-block">
            <li><i class="column-list-icon fa fa-check mr-2"></i>
                <p>
                    <!--[if !supportLists]-->ideas about useful blocks that you can use in your courses, events, or programs hosted on CHURCHx
                </p>
            </li>
            <li><i class="column-list-icon fa fa-check mr-2"></i>
                <p>
                    <!--[if !supportLists]-->a sense that you can easily build up the conent on a page
                </p>
            </li>
            <li><i class="column-list-icon fa fa-check mr-2"></i>examples of formats that might better fit your material</li>
            <li><i class="column-list-icon fa fa-check mr-2"></i>
                <p>an appreciation for how flexible moodle can be with the plugins we've set up.&nbsp;</p>
            </li>

        </ul>
    </div>

    <a class="btn btn-primary scrollto" href="#maincontent">Start Learning</a>

</div>